#cloud-site .flex {
  display: flex;
  justify-content: center;
}

#cloud-site .flex .c4 {
  flex-basis: 31.25%;
}

#hero-supercloud {
  background: url(/images/home/supercloud-grey.svg) right center no-repeat;
  height: 291px;
  position: absolute;
  right: 0;
  top: 56px;
  width: 370px;
  z-index: -1;
}

#cloud-site.home .hero {
  padding-left: 0;
  padding-right: 0;
}

#cloud-site.home .hero h1 p {
 font-family: 'Google Sans', Arial, sans-serif;
}

#cloud-site.home h1.headline {
  font-size: 40px;
  line-height: 60px;
}

#cloud-site.home .hero ul.list li {
  display: flex;
}

#cloud-site .home-gallery .border {
  background-color: #548fe8;
  height: 2px;
  margin-bottom: 26px;
  width: 90px;
}
#cloud-site .home-gallery h3 {
  font: 500 20px/25px Roboto,sans-serif;
  margin: 0 0 14px 0;
}
#cloud-site .home-gallery p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6em;
}

#cloud-site .home-gallery a {
  font-size: 14px;
}

#cloud-site .gcp-customers {
  margin: auto;
  max-width: 1060px;
  text-align: center;
}

#cloud-site .gcp-customers img {
  margin: 8px 14px;
}

#cloud-site .free-trial-banner {
  align-items: center;
  background: #498dfc;
  color: #fff;
  margin: 26px auto 0;
  max-width: 1090px;
  min-height: 170px;
  padding: 20px 5%;
}

#cloud-site .free-trial-banner .main {
  color: #fff;
  font: normal 22px/25px Roboto;
  margin-right: 8%;
}

#cloud-site .free-trial-banner .body {
  color: #fff;
  flex: 1;
  font: lighter 18px/8 Roboto;
  margin-right: 8%;
}

#cloud-site .link {
  font-weight: 500;
  padding-right: 24px;
  position: relative;
  text-transform: uppercase;
}

#cloud-site .link:before {
  margin: auto;
}

#cloud-site .link:after {
  background-color: #039be5;
  background-image: url('//www.gstatic.com/images/icons/material/system/1x/arrow_upward_white_24dp.png');
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  content: '';
  height: 16px;
  position: absolute;
  right: 0;
  top: calc(50% - 7.5px);
  transform: rotateZ(90deg);
  width: 16px;
}

#cloud-site.home .products .compute {
  background: url('/_static/images/cloud/products/icons/compute.svg') no-repeat 0 0/31px;
}

#cloud-site.home .products .storage {
  background: url('/_static/images/cloud/products/icons/storage.svg') no-repeat 0 6px/31px;
}

#cloud-site.home .products .networking {
  background: url('/_static/images/cloud/products/icons/networking.svg') no-repeat 0 0/31px;
}

#cloud-site.home .products .bigdata {
  background: url('/_static/images/cloud/products/icons/bigdata.svg') no-repeat 0 3px/31px;
}

#cloud-site.home .products .data-transfer {
  background: url('/_static/images/cloud/products/icons/data-transfer.svg') no-repeat 0 7px/36px;
}

#cloud-site.home .products .api-platform {
  background: url('/_static/images/cloud/products/icons/api-platforms.svg') no-repeat 5px 7px/26px;
}

#cloud-site.home .products .iot {
  background: url('/images/products/icons/cloud-iot.svg') no-repeat 0 4px/31px;
}

#cloud-site.home .products .machinelearning {
  background: url('/_static/images/cloud/products/icons/machine-learning.svg') no-repeat 0 4px/31px;
}

#cloud-site.home .products .management {
  background: url('/_static/images/cloud/products/icons/operations.svg') no-repeat 0 6px/31px;
}

#cloud-site.home .products .developer {
  background: url('/_static/images/cloud/products/icons/devtools.svg') no-repeat 0 6px/28px;
}

#cloud-site.home .products .identity {
  background: url('/_static/images/cloud/products/icons/security.svg') no-repeat 0 0/26px;
}

#cloud-site.home .products .professional-services {
  background: url('/_static/images/cloud/products/icons/professional-services.svg') no-repeat 0 0/26px;
}

#cloud-site.home .products .productivity-tools {
  background: url('/_static/images/cloud/products/icons/productivity-tools.svg') no-repeat 0 0/26px;
}

#cloud-site.home .gcp-products .flex {
  align-items: flex-start;
}

#cloud-site.home .products .gcp-product {
  min-height: 353px;
}

#cloud-site.home .products .gcp-product p {
  min-height: 84px;
}

#cloud-site.home .products .gcp-product li {
  border: none;
}

#cloud-site.home .products .gcp-product li a {
  color: #4a5960;
  font-size: 16px;
}

#cloud-site.home .products .gcp-product li a:hover {
  background: transparent;
  color: #2b85e7;
}

#cloud-site.home .products .gcp-product li a.last {
  background: #ecebec;
  cursor: pointer;
  line-height: 35px;
  margin-left: -24px;
  margin-top: 24px;
}

#social-footer a.button-contact-us {
  color: #039be5;
}

.cloud-free-trial-button.hidden {
  display: none;
}

#cloud-site .google-next-container {
  align-items: center;
  display: flex;
}

#cloud-site .google-next-container .google-next-logo {
  max-height: 230px;
}

/* Mobile responsiveness fixes */

@media screen and (max-width: 1200px) {
  *:not(.code-sample):not(.data-sample):not(.kd-tabbed-horz):not(.kd-tabbed-vert)>*>h2:not(.hide-from-toc):not(#contents):not(#table-of-contents) {
    padding-right: 0;
  }
}

@media only screen and (min-width: 1025px) {
  #hero-supercloud {
    right: 75px;
  }
}

@media only screen and (max-width: 900px) {
  #cloud-site.home .button.button-cloud {
    margin: 34px 0 22px;
  }
  #cloud-site .free-trial-banner {
    align-items: initial;
    flex-direction: column;
    text-align: center;
    width: inherit;
  }
  #cloud-site .free-trial-banner .main {
    margin-right: 0;
  }
  #cloud-site .free-trial-banner .body {
    line-height: 4;
    margin-right: 0;
  }
  #cloud-site .free-trial-banner > * {
    margin: 10px 0;
  }
  #cloud-site .free-trial .main {
    max-width: 565px;
  }

  #cloud-site.home .gcp-products .flex {
    flex-wrap: wrap;
    margin-top: 0;
  }

  #cloud-site.home .products .gcp-product {
    flex-basis: 100%;
    margin-top: 24px;
    min-height: auto;
    width: 100%;
  }

  #cloud-site .google-next-container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 780px) {
  #cloud-site.home h1.headline {
    font-size: 34px;
  }
  #cloud-site.home .products .gcp-product li a.last {
    margin-left: -12px;
  }
  #hero-supercloud {
    display: none;
  }
}
