.devsite-doc-set-nav-tab-container {
    display: inline-block;
    margin: 0}

.devsite-nav-tab {
        -ms-flex-align: center;
        align-items: center;
        display: -ms-inline-flexbox;
        display: inline-flex}

.devsite-doc-set-nav-tab-list {
            white-space: nowrap}

.devsite-overflow-tabs-scroll {
    left: 0;
    position: relative;
    transition: left .2s;
    width: 100%}
.devsite-overflow-tabs-scroll .devsite-feedback-button {
    position: absolute;
    right: 0;
    margin: 6px -8px 6px 0}
.devsite-overflow-tabs-scroll-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%}
.devsite-doc-set-nav-row .devsite-overflow-tabs-scroll-wrapper {
    padding-right: 24px}

.devsite-header-upper-tabs .devsite-doc-set-nav-tab {
    color: rgba(0,0,0,.54);
    font-weight: 400;
    text-transform: none}
.devsite-header-upper-tabs .devsite-doc-set-nav-tab:hover,.devsite-header-upper-tabs .devsite-doc-set-nav-tab:focus {
    color: rgba(0,0,0,.87)}
.devsite-header-upper-tabs .devsite-doc-set-nav-active {
    border-bottom-color: #0277bd;
    color: rgba(0,0,0,.87);
    font-weight: 500}
.devsite-header-upper-tabs:: -webkit-scrollbar,.devsite-doc-set-nav-row:: -webkit-scrollbar {
    height: 0;
    width: 0}

    .devsite-header-upper-tabs {
        display: inline-block;
        -ms-flex: 1 1 0px;
        flex: 1 1 0;
        overflow-y: auto;
        vertical-align: top;
        transition: flex .2s,margin .2s,width .2s;
        transition: flex .2s,margin .2s,width .2s,-ms-flex .2s}
    .devsite-header-upper-tabs: not(: empty) {
        margin-left: 48px}
    .devsite-top-section-wrapper: not(.devsite-billboard-search-active) .devsite-top-logo-row.devsite-search-active .devsite-header-upper-tabs {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        margin: 0;
        visibility: hidden;
        width: 0}


        .devsite-top-section-wrapper {
            position: relative;
            z-index: 10007}
        .devsite-top-section {
            background-color: #039be5;
            box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
            position: static;
            top: 0;
            width: 100%;
            z-index: 10005}
        .devsite-top-section-pinned {
            position: fixed;
            transform: translateZ(0)}

@media screen and (max-width: 720px) {
    .devsite-overflow-tabs-scroll-wrapper {
    padding-right: 16px}
}
@media screen and (max-width: 720px) {
    .devsite-top-logo-row {
    padding: 0 16px}
.devsite-header-upper-tabs,.devsite-header-upper-tabs: not(: empty) {
    margin-left: 16px}
.devsite-top-section-wrapper: not(.devsite-billboard-search-active) .devsite-top-logo-row.devsite-search-active .devsite-header-upper-tabs {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto}
.devsite-header-upper-tabs .devsite-doc-set-nav,.devsite-feedback-button {
    display: none}
}

.devsite-top-section,.devsite-nav-responsive,.devsite-section-nav,.devsite-section-nav-responsive,.devsite-page-nav,.devsite-page-embedded,.devsite-rating-container,.devsite-googler-buttons,.devsite-googler-buttons-show,.devsite-footer,.devsite-site-footer,.devsite-utility-footer,.devsite-footer-linkboxes {
    display: none}

.devsite-billboard-search-active .devsite-search-form: not(.devsite-billboard-search),.devsite-top-section-wrapper: not(.devsite-billboard-search-active) .devsite-billboard-search {
    opacity: 0;
    pointer-events: none;
    width: 0}

@media screen and (max-width: 720px) {
    .devsite-search-button {
    display: inline-block}
.devsite-billboard-search-active .devsite-search-button,.devsite-responsive-search-open .devsite-header-upper-tabs,.devsite-responsive-search-open .devsite-product-name-wrapper,.devsite-responsive-search-open .devsite-settings-menu-wrapper,.devsite-responsive-search-open .devsite-user-avatar,.devsite-responsive-search-open .devsite-user-signin,.devsite-top-logo-row .devsite-search-form {
    display: none}
.devsite-responsive-search-open .devsite-search-form {
    display: inline-block;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 6px 0}
}
